@model Ecom_Project_2026.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Product.Id != 0 ? "Edit Product" : "New Product";
}

<h2 class="text-primary border-bottom">@title</h2>
<div class="row">
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Product.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Product.Id" />
            }
            <div class="form-group">
                <label asp-for="Product.Title"></label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Author"></label>
                <input asp-for="Product.Author" class="form-control" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ISBN"></label>
                <input asp-for="Product.ISBN" class="form-control" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ListPrice"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price50"></label>
                <input asp-for="Product.Price50" class="form-control" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price100"></label>
                <input asp-for="Product.Price100" class="form-control" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" multiple id="imageId" name="files" class="form-control" />
                @* <span asp-validation-for="Product.Price100" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                    <option value="">Choose Category</option>
                </select>
                @* <input asp-for="Product.Price100" class="form-control" /> *@
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CoverTypeId"></label>
                <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-control">
                    <option value="">Choose Cover Type</option>
                </select>
                @* <input asp-for="Product.CoverTypeId" class="form-control" /> *@
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.Product.Id != 0)
                {
                    <partial name="_EditAndBackToListButtons" />
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-info form-control"
                                    onclick="return ValData()">
                                Save
                            </button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">
                                Back To List
                            </a>
                        </div>
                    </div>
                }
            </div>

        </form>
    </div>
    <div class="col-6">
        @if (Model.Product.ImageUrl != null)
        {
            <img src="@Model.Product.ImageUrl" />
        }
    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/ONLINE+T8LK:eyJhcGlfa2V5IjoiMm5rczdqenk5ZDRva2xxZmp3YzBsNGZna2p6eDF3MThjMXV5bjVjOHk5bGZocnVkIiwiYWxnIjoiRVMyNTYiLCJ4NWMiOlsiTUlJQm1EQ0NBVDJnQXdJQkFnSVViU0tjaVAyUThwTUxSU3NvSUtvbnFDV2JsNVV3Q2dZSUtvWkl6ajBFQXdJd1B6RWFNQmdHQTFVRUNnd1JWR2x1ZVNCVVpXTm9ibTlzYjJkcFpYTXhJVEFmQmdOVkJBTU1HRlJwYm5sTlEwVWdPQ0JzYVdObGJuTmxJR3RsZVNCRFFUQWdGdzB5TlRBME1UQXdOREkyTVRCYUdBOHlNRGMxTURFd01UQTBNall4TUZvd0VqRVFNQTRHQTFVRUF3d0hWRGhNUzFNdFVEQlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJHZ045alBuRmtqNUNFUmxCQ1JDTDRpYjlwQzFKOVN6eGowZnJFNUJIMXRPMmhGWEJpTXdlZUYxYXhIenIwRHJ4cnFBNHQzRW0yWWlGMnpJOGVRaGtnR2pRakJBTUIwR0ExVWREZ1FXQkJRNHVONm5URHpjdWJpRzF1RE90ODlJUDJBVkJUQWZCZ05WSFNNRUdEQVdnQlRxaGpzbDdJVnRGRWFTL2hTUlF4Yk9mbmlhUVRBS0JnZ3Foa2pPUFFRREFnTkpBREJHQWlFQTJrR05lWUZ0a2p2L3phc1BFSlowUFRWUzltSnUxWkVmL1pJUExhRUgyejBDSVFEUU5xQS9BRU1RZUJ6Nk9FRzZQbXlYRWpCVWQ1akQwcXFZcFUvaTNYYS9lUT09Il19.CiQwMTlmNDkxMi03MzY0LTdmNzgtODk5MC0xMzk3ODM0ZmJiMjIoAZoCUWh0dHBzOi8vY2RuLnRpbnkuY2xvdWQvMS8ybmtzN2p6eTlkNG9rbHFmandjMGw0Zmdranp4MXcxOGMxdXluNWM4eTlsZmhydWQvbGljZW5zZcICEAoMCP_VitMGEMCPrtwDEgCwBAjSBQEBogYiCiBodHRwczovL21hbnRyYS1rYXJ0Lm9ucmVuZGVyLmNvbaIGURJPaHR0cHM6Ly9bQS1aYS16MC05XVtBLVphLXowLTktXSooXC5bQS1aYS16MC05XVtBLVphLXowLTktXSopKlwud2ViY29udGFpbmVyXC5pb6IGTBJKaHR0cHM6Ly9bQS1aYS16MC05XVtBLVphLXowLTktXSooXC5bQS1aYS16MC05XVtBLVphLXowLTktXSopKlwuanNoZWxsXC5uZXSiBkkSR2h0dHBzOi8vW0EtWmEtejAtOV1bQS1aYS16MC05LV0qKFwuW0EtWmEtejAtOV1bQS1aYS16MC05LV0qKSpcLmNzcFwuYXBwogYSEhBodHRwczovL2NkcG5cLmlvogYtEitodHRwcz86Ly8obG9jYWxob3N0fDEyN1wuMFwuMFwuMSkoOlswLTldKyk_ogaTARKQAWh0dHBzPzovLygxOTJcLjE2OFwuWzAtOV17MSwzfVwuWzAtOV17MSwzfXwxMFwuWzAtOV17MSwzfVwuWzAtOV17MSwzfVwuWzAtOV17MSwzfXwxNzJcLigxWzYtOV18MlswLTldfDNbMC0xXSlcLlswLTldezEsM31cLlswLTldezEsM30pKDpbMC05XSspP6IGYhJgaHR0cHM_Oi8vW0EtWmEtejAtOV1bQS1aYS16MC05LV0qKFwuW0EtWmEtejAtOV1bQS1aYS16MC05LV0qKSpcLihsb2NhbHx0ZXN0fGxvY2FsaG9zdCkoOlswLTldKyk_.9zZI72L4lG8Ru4RlrOqOX3EcxlCpUaT9aLwxgZAVHZT0dGDq8128dPYaEleUx-s-sKTmeZPgvHYUvpyA-ObDzA"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "lists",
            menubar: "file edit format"
        })
        function ValData()
        {
            if(document.getElementById('imageId').value == "")
            {
                swal('Error','Please Select Image !!!','error');
                return false;
            }
        }
    </script>
}

